$primary-color: #fff;
$accent-color: #E11C4B;
$content-color: #333;
$content-color-second: #8D8D8D;

$breakpoint-xl: 1199px;
$breakpoint-lg: 991px;
$breakpoint-md: 767px;
$breakpoint-sm: 575px;
$breakpoint-xs: 414px;
