.header {
    &__location-wrapper {
        border-bottom: 2px solid #E8E8E8;
    }

    &__location {
        @extend %flex-align-center;
        height: 35px;
    }

    &__location-item {
        @extend %flex-align-center;
    }

    &__location-icon {
        width: 18px;
        height: 18px;
        margin-right: 6px;
        flex-shrink: 0;
    }

    &__city {
        margin-right: 37px;
        padding: 0;

        background: none;
        border: none;
        cursor: pointer;
    }

    &__phone {
        display: inline-block;
        margin-left: auto;
        padding-left: 24px;
        padding-top: 4px;
    }

    &__actions {
        @extend %flex-align-center;
        padding: 8px 0;
    }

    &__logo {
        margin-right: 12px;
    }
}