.search-form {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    border: 2px solid #DDDDDD;
    border-radius: 100px;

    @include breakpoint($breakpoint-xl) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    @include breakpoint($breakpoint-xs) {
        padding-top: 6px;
        padding-bottom: 7px;
    }

    &__btn {
        width: 26px;
        height: 26px;
        padding: 0;
        margin-right: 5px;

        background: none;
        border: none;
        cursor: pointer;

        @include breakpoint($breakpoint-xs) {
            width: 18px;
            height: 18px;
            margin-right: 6px;
        }
    }

    &__btn-icon {
        width: 100%;
        height: 100%;
    }

    &__input {
        width: 455px;

        border: none;
        outline: none;

        &::placeholder {
            color: $content-color-second;

            @include breakpoint($breakpoint-xs) {
                font-size: 14px;
            }
        }

        @include breakpoint($breakpoint-xl) {
            width: 100%;
        }

        @include breakpoint($breakpoint-lg) {
            width: 232px;
        }

        @include breakpoint($breakpoint-md) {
            width: 100%;
        }
    }
}