.search-form {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    border: 2px solid #DDDDDD;
    border-radius: 100px;

    &__btn {
        width: 26px;
        height: 26px;
        padding: 0;
        margin-right: 5px;

        background: none;
        border: none;
        cursor: pointer;
    }

    &__btn-icon {
        width: 100%;
        height: 100%;
    }

    &__input {
        width: 455px;

        border: none;
        outline: none;

        &::placeholder {
            color: $content-color-second;
        }
    }
}